COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
REGISTRY=${REGISTRY}
IMAGE_TAG=${IMAGE_TAG}
API_SITE_URL=${API_SITE_URL}
API_SITE_NAME=${API_SITE_NAME}
API_DB_PASSWORD=${API_DB_PASSWORD}
MAILER_DSN=${MAILER_DSN}
MAILER_FROM_EMAIL=${MAILER_FROM_EMAIL}
MAILER_FROM_NAME=${MAILER_FROM_NAME}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
FRONTEND_URL=${FRONTEND_URL}
RABBITMQ_USER=${RABBITMQ_USER}
RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
SENTRY_DSN=${SENTRY_DSN}
JWT_ENCRYPTION_KEY=${JWT_ENCRYPTION_KEY}
YANDEX_CLIENT_ID=${YANDEX_CLIENT_ID}
YANDEX_CLIENT_SECRET=${YANDEX_CLIENT_SECRET}
YANDEX_REDIRECT_URI=${YANDEX_REDIRECT_URI}
GRANT_TYPE=${GRANT_TYPE}
CLIENT_ID=${CLIENT_ID}
CLIENT_SECRET=${CLIENT_SECRET}